:root {
    --bgcolor: black;
    --maincolor: snow;
    --boldcolor: lime;
}

body, html {
    margin: 0 auto;
    background-color: var(--bgcolor);
}

div.termycontent {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);

    display: flex;
    flex-direction: row;
    gap: 15px;
}

article#termy-editor {
    font-size: 48px;
    color: var(--maincolor);
    font-family: "SF Mono", monospace;
    margin: 0 auto;
}

div.termycontent p, a, h1, h2 {
    font-family: "SF Mono", monospace;
    color: var(--maincolor);
    margin: 0 auto;
}

div.termycontent h1 { 
    font-size: 72px;
}

div.termycontent h2 {
    font-size: 64px;
}

div.termycontent p, a {
    font-size: 48px;
}
